html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:pink;
}
.vb{
    color: rgb(17, 54, 87);
    text-align: center;
    padding-top: 30px;
}

.khung{
    background-color:whitesmoke;
    border: 2px solid;
    border-radius: 10px;
    height: 500px;
    width: 300px;

}

 .row{
   text-align: center;
   padding: 15px;
 }   

 .inp{
    height: 40px;
    width: 250px;
    border-radius: 4px;
    /* margin: 10px; */
 }
.link{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(96, 133, 133);
}