html,body {
    background-color: plum;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.khung{
   
    margin: 10px 30px;
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    border: 2px solid wheat;
    border-radius: 20px;

} 
.trai{
   display: flex;
   margin-left: 50px;
}


.input{
    display: block;
    border-radius: 4px;
    width: 300px;
    height: 40px; 
    
}
 .phai{
   display: flex;
   margin-left: 50px;
} 

.row-3{
    display: flex;
    margin-left: 50px;
}
.row-1{
    padding: 20px 10px;

}
.sb{
    width: 635px;
    height: 40px;
    margin-left: 60px;
   border-radius: 4px;
   margin-top: 20px;
}

.nut{
    margin-left: 60px;
    height: 40px;
    width: 70px;
    background-color: rgb(102, 102, 150);
    border-radius: 4px;
    color: antiquewhite;
    margin-top: 30px;
}