body{
    max-width: 960px;

    text-align: center;
    background-color: #355664;
    color: #fcfcfc;
    font-family:Arial,sans-serif ;
    margin: 0 auto;
}



h1{
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
    
}
h2 {
    font-size: 30px;
    letter-spacing: 15px;
    text-align: center;
    border-bottom: 3px solid #416371;
    padding-bottom: 10px;
    font-family: 'forte',Arial,sans-serif;
    margin-top: 0px;
}
header {
    font-family: 'forte',Arial,sans-serif;
    display: block;
}



h3{
    font-size: 30px;
    text-align: right;
    font-weight: normal;
    margin: 0 0 10px;
    
}

ul{
    list-style: none;
    
}

li{
    display:inline-block;
}

a{
    margin: 5px 2px;
    padding: 8px 10px 5px;
    font-size: 30px;
}
nav ul li:nth-child(1) a {
    color: #7cb3e9;
    text-transform: lowercase;
}
ul li:nth-child(2) a{
    color: #8ec45b;
}
ul li:nth-child(3) a{
    color: white;
    text-transform: uppercase;
}

article{
    height: 390px;
    background-color: #213e4a;
    padding: 20px;
    margin: 0 0 10px;

}
.article-content{
    margin: 15px 0;
}

.article-content p:nth-of-type(1) {
    color: #8EC45B;
}

figure {
    border: 3px solid #142830;
    float: right;
    height: 300px;
    width: 500px;
    margin-left: 15px;
    border-radius: 10px;
}
img{
    height: 300px;
    width: 500px;
    border: none;
}
footer{
    border-top: 3px solid#142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
.article-content p {
    line-height: 20px;
    padding-bottom: 5px;
    text-align: left;
}